.logo img {
  width: 32px;
  height: 32px; 
  margin: 0 5px 0 35px;

}

  .blue-back-button {
    --color: blue;
    --border-radius: 50%;
    --padding: 0.5rem;
  }

  .check-label {
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 4px;
  }


  .start-aligned {
    align-self: flex-start;
  }
  
  .start-aligned-label {
    margin-left: 8px;
    font-size: small;
    white-space: normal;
  }

  .custom-color {
    --color: red !important;
  }


  .title-and-logo {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    // background-color: #ed1c24;
    color: black;
    font-weight: 600;
  
  }


  ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: #6815ec;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
  }


  .img-spacetype {
    width: 100%; 
    max-width: 350px;
    height: auto;
  }
  
  .img-spacetype  ion-img {
    width: 100%;
    height: auto;
  }

  .img-spacetype:hover{
    cursor: pointer;
  }

  .rules:hover{
    cursor: pointer;
  }

  .img-container {
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    height: 100%;
    position: relative;
  }


  .upload-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .upload-overlay ion-icon {
    font-size: 24px;
  }
  
  .upload-overlay span {
    font-size: 14px;
    margin-top: 5px;
  }

  a:hover {
    cursor: pointer;
  }


  .container {
    max-width: 500px;
    margin: 0 auto;
    // padding: 20px;
  }

  .full-width-card {
    max-width: 500px;
    // margin: 10px auto;
    border: 1px solid #ccc;
  }

  @media only screen and (max-width: 600px) {
    .full-width-card {
      // border: none;
      border: 1px solid #ccc;
      box-shadow: none;
      margin: 10px 0;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;

      // padding: 20px;
    }
  }