<ion-header>


  <ion-toolbar style="--background: #ed1c24">

    <ion-buttons slot="start">
      <ion-back-button class="blue-back-button" icon="chevron-back" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>

      <div class="title-and-logo">           
          <div class="logo">
            <img src="../../../../assets/imgs/logo.png" alt="Logo" />
          </div>
          <ion-title>Payment</ion-title>
        </div>

  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">



  <ion-list>


        <ion-item id="open-modal" class="button-like" style="color: #212121;">
          <ion-label>Select Preferred Date</ion-label>
          <ion-icon name="calendar" slot="end"></ion-icon>
          <ion-note slot="end" *ngIf="selectedTimeSlots.length > 0">
            {{ selectedTimeSlots[0].date }} {{ selectedTimeSlots[0].startTime }} - {{ selectedTimeSlots[0].endTime }}
          </ion-note>
        </ion-item>

    <ion-modal trigger="open-modal" [cssClass]="'center'" [backdropDismiss]="true">

      
    
      <ng-template style="justify-content: center;">

        <ion-button 
        class="icon-close"
        fill="clear" 
        color="dark" 
        slot="end"
        (click)="closeModal()">
        <ion-icon color="danger" name="close" slot="end"></ion-icon>
      </ion-button>   
  

        <ion-datetime
        style="margin-top: 20px;"
          presentation="date"
          (ionChange)="onDateChange()"
          [(ngModel)]="dateExample"
          [isDateEnabled]="isDateEnabled.bind(this)"
          size="cover"
        ></ion-datetime>

        <div *ngIf="isDateEnabled.bind(this) && filteredTimeSlots.length">
          <ion-list>
            <ion-item *ngFor="let timeSlot of filteredTimeSlots">
              <ion-label>
                {{ timeSlot.startTime }} - {{ timeSlot.endTime }}
              </ion-label>
              <ion-checkbox
                slot="start"
                (ionChange)="selectTimeSlot($event, timeSlot)"
              ></ion-checkbox>
            </ion-item>
          </ion-list>
        
        </div>    
      
      </ng-template>
    </ion-modal>


    <ion-item>
          <ion-label>Rent Charges</ion-label>
          <ion-note>{{ rentCharges | currency:'USD':'symbol':'1.2-2'}}</ion-note>

    </ion-item>

    <ion-item>
          <ion-label>Service Charges(10%)</ion-label>
          <ion-note>{{ serviceCharges | currency:'USD':'symbol':'1.2-2'}} </ion-note>

    </ion-item>

    <ion-item>
          <ion-label>Total Fees</ion-label>
          <ion-note>{{ totalFees | currency:'USD':'symbol':'1.2-2'}}</ion-note>

    </ion-item>

  </ion-list>


  <div style="display: flex; justify-content: center; align-items: center; gap: 15px; flex-wrap: wrap;">
    <ion-button 
      (click)="initPayPalButton(totalFees)" 
      size="medium" 
      [disabled]="totalFees == 0"
      color="primary" 
      style="margin-right: 10px;"
      title="Pay securely using PayPal">
      <ion-icon slot="icon-only" name="logo-paypal"></ion-icon>
      <span style="margin-left: 5px;">Pay with PayPal</span>
    </ion-button>
    
    <!-- Bitcoin Payment Button -->
    <ion-button 
      (click)="sendCrypto(totalFees)" 
      size="medium" 
      color="custom"
      [disabled]="totalFees == 0"
      fill="clear"  
      style="--ion-color-base: #e40e40;"
      title="Pay with Bitcoin">
      <ion-icon slot="icon-only" name="logo-bitcoin"></ion-icon>
      <span style="margin-left: 5px;">Pay with Bitcoin</span>
    </ion-button>
  
    <ion-button 
      (click)="payWithBonus(totalFees)" 
      size="medium" 
      color="custom"
      [disabled]="totalFees == 0"
      style="--ion-color-base: #e40e40;"
      title="Pay with Bonus">
      <ion-icon slot="icon-only" name="wallet"></ion-icon>
      <span style="margin-left: 5px;">Pay with Bonus</span>
    </ion-button>
  </div>
  
  

<div id="paypal-button-container"></div>


 
  
</ion-content>
