<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="title-and-logo">
      <div class="logo">
        <img src="../../../../assets/imgs/unit-logo.png" alt="Logo" style="width: 50px; height: auto;" />
      </div>
      <ion-title>Add Account</ion-title>

    </div>


    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="form" [formGroup]="accountForm" style="font-size: small;">
    <ion-list mode="md">
      <ion-item mode="md">
        <ion-label position="floating">Email registered with PayPal</ion-label>
        <ion-input type="email" formControlName="payPayEmail" placeholder="Paypal Email account"></ion-input>
      </ion-item>
    </ion-list>

</form>

<ion-button class="button-h" fill="solid" size="default" shape="round" expand="block" color="primary"
(click)="addAccount()">
  Add Account
</ion-button>

</ion-content>
