<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="title-and-logo">
      <div class="logo">
        <img src="../../../../assets/imgs/unit-logo.png" alt="Logo" style="width: 50px; height: auto;" />
      </div>
      <ion-title>Add Account</ion-title>

    </div>


    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="form" [formGroup]="accountForm" style="font-size: small;">
    

    <ion-list mode="md">
      <ion-item mode="md">
        <ion-label position="floating">BTC Address</ion-label>
        <ion-input type="text" formControlName="payPayEmail" placeholder="BTC Wallet Address"></ion-input>
      </ion-item>
    </ion-list>


    <ion-list mode="md">
      <ion-item mode="md">
        <ion-label position="floating" style="margin-bottom: 20px;">BTC Network</ion-label>
        <ion-select formControlName="network">
          <ion-select-option class="custom-color" value="" selected disabled>Select BTC Network</ion-select-option>
          <ion-select-option value="chain">Bitcoin</ion-select-option>
          <ion-select-option value="ln">Lightening(Fast and Less charges)</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

</form>

<ion-button class="button-h" fill="solid" size="default" shape="round" expand="block" color="primary"
(click)="addAccount()">
  Add Account
</ion-button>

</ion-content>
