<ion-header>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-list>
      <ion-item lines="full">
        <ion-label>Referrals</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>View Privacy policy</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Consult a legal pro</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Switch to Tenant</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>