<ion-content fullscreen class="ion-padding">
  <div class="container">
    <div class="logo">
      <img src="../../../../assets/imgs/unit-logo.png">
    </div>
    <div class="form-container" *ngIf="validEmail !== true && resetPass !== true">
      <form class="form" [formGroup]="loginForm">
        <ion-list mode="md">
          <ion-item mode="md">
            <ion-input id="email" placeholder="Email Address" type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button class="button-h" fill="solid" size="default" expand="block" color="custom" style="--ion-color-base: #e40e40; margin-top: 10% !important; --border-radius: 4px;"
        [disabled]="!loginForm.valid" (click)="validateEmail()">
         Validate Email
        </ion-button>
  

      </form>
    </div>

    <div class="otp-container" *ngIf="validEmail == true && resetPass == false">
      <div class="inputs">
        <input class="input" type="text" inputmode="numeric" maxlength="1" (input)="onInput($event, 0)" (keyup)="onKeyup($event, 0)" (paste)="onPaste($event, 0)" />
        <input class="input" type="text" inputmode="numeric" maxlength="1" (input)="onInput($event, 1)" (keyup)="onKeyup($event, 1)" (paste)="onPaste($event, 1)" />
        <input class="input" type="text" inputmode="numeric" maxlength="1" (input)="onInput($event, 2)" (keyup)="onKeyup($event, 2)" (paste)="onPaste($event, 2)" />
        <input class="input" type="text" inputmode="numeric" maxlength="1" (input)="onInput($event, 3)" (keyup)="onKeyup($event, 3)" (paste)="onPaste($event, 3)" />
      </div>   

      
      <p class="have"><a style="color: #e40e40; cursor: pointer;" class="signup-text" (click)="resendOtp()"> Resend OTP </a></p>


    </div>


    <div class="form-container"  *ngIf="resetPass == true">
      <form class="form" [formGroup]="resetPasswordForm">
        <ion-list mode="md">
          <ion-item mode="md">
            <ion-input id="pass" type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list>

        <ion-list mode="md">
          <ion-item mode="md">
            <ion-input id="pass" type="password" formControlName="confirmPassword" (input)="onConfirmPasswordInput()" placeholder="Confirm Password"></ion-input>
          </ion-item>
          <span *ngIf="passwordMismatch" style="color: red;" class="error-message">Password mismatch</span>
        </ion-list>


        <ion-button class="button-h" fill="solid" size="default" expand="block" color="custom" style="--ion-color-base: #e40e40; margin-top: 10% !important; --border-radius: 4px;"
        [disabled]="!resetPasswordForm.valid || passwordMismatch" (click)="resetPassword()">
         Reset Password
        </ion-button>
  

      </form>
    </div>

    <p class="have">Remember your password? <br><a style="color: #e40e40;" class="signup-text" (click)="registerpage()"> Login </a></p>

  </div>
</ion-content>
