<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <div class="title-and-logo">
      <div class="logo">
        <img src="../../../../assets/imgs/logo.png" alt="Logo" />
      </div>
      <ion-title>View your spaces</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="full-width-card" no-padding *ngIf="userDetails?.role === 'TENANT'">
    <ion-list>
      <ion-item *ngFor="let tenant of tenantSpaces">
        <ion-row>
          <ion-col size="7">
            <ion-img *ngIf="tenantSpaces" [src]="tenant.spaceId.spaceImage"></ion-img> <br>
            {{ tenant.spaceId.spaceLocation }}
          </ion-col>
          <ion-col size="5">
            <ion-card-content>
              <ion-label><b>BOOKED</b></ion-label>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
  

<ion-card class="full-width-card" no-padding *ngIf="userDetails?.role === 'HOST'">
  <ion-list>
    <ion-item *ngFor="let host of hostSpaces">
      <ion-row>
        <ion-col size="7">
          <ion-img *ngIf="host.spaceImage" [src]="host.spaceImage"></ion-img> <br>
          {{ host.spaceLocation }}
        </ion-col>
        <ion-col size="5">
          <ion-card-content>
            <ion-label><b>{{ host.bookingStatus }}</b></ion-label>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-card>

</ion-content>
