<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <div class="title-and-logo">
      <div class="logo">
        <img src="../../../../assets/imgs/unit-logo.png" alt="Logo" style="width: 50px; height: auto;" />
      </div>
      <ion-title>
        {{ role === 'ADMIN' ? 'Manage your users' : 'View your spaces' }}
      </ion-title>   
     </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div *ngIf="(tenantSpaces && tenantSpaces.length > 0) || (hostSpaces && hostSpaces.length > 0) || (allUsers && allUsers.length > 0); else noSpacesTemplate">

<ion-list class="card-list" *ngIf="userDetails?.role === 'TENANT' && tenantSpaces && tenantSpaces.length > 0;">
  
  <ion-item class="card-item" *ngFor="let item of tenantSpaces" 
  >
        <ion-grid class="card-grid">
      <ion-card class="card_features ion-no-padding">    
        <img class="img-spacetype" *ngIf="item?.spaceId.spaceImage !== null; else noImage" 
        [src]="item.spaceId.spaceImage" (click) = "place(item.spaceId)" />
        <ng-template #noImage>
          <img class="img-spacetype" src="../../../../assets/imgs/dummys.png" />
        </ng-template>

      <ion-card-header>
        <ion-card-subtitle>{{ item.spaceId.spaceLocation }}</ion-card-subtitle>
        <ion-card-title>Booked</ion-card-title>
      </ion-card-header>
      <ion-card-content class="no-padding">
      </ion-card-content>

     
    </ion-card>
</ion-grid>
</ion-item>
</ion-list>




<ion-list class="card-list" *ngIf="userDetails?.role === 'HOST' && hostSpaces && hostSpaces.length > 0;">
  
  <ion-item class="card-item" *ngFor="let item of hostSpaces" 
  >
        <ion-grid class="card-grid">
      <ion-card class="card_features ion-no-padding">    
        <img class="img-spacetype" *ngIf="item?.spaceImage !== null; else noImage" 
        [src]="item.spaceImage" />
        <ng-template #noImage>
          <img class="img-spacetype" src="../../../../assets/imgs/dummys.png" />
        </ng-template>

      <ion-card-header>
        <ion-card-subtitle>{{ item.spaceLocation }}</ion-card-subtitle>
        <ion-card-title style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small;">{{ item.bookingStatus === 'PENDING' ? 'No Bookings' : 'Booked' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="no-padding">
      </ion-card-content>

     
    </ion-card>
</ion-grid>
</ion-item>
</ion-list>


<ion-list class="card-list" *ngIf="userDetails?.role === 'ADMIN' && allUsers && allUsers.length > 0;">
  
  <ion-searchbar style="height: 66px; margin-top: 10px;" color="black" #searchbar placeholder="Search for Users" searchIcon=" "
  (ionInput)="searchUsers($event)" clearIcon=" " (ionClear)="clearAutocomplete()">
  <img src="../../../../assets/imgs/feather-search.png" />
</ion-searchbar>


<ng-container *ngIf="filteredUsers.length > 0; else noFilteredUsers">
<ion-item class="card-item" *ngFor="let item of filteredUsers">

  <ion-grid class="card-grid">
    <ion-card class="card_features ion-no-padding">    
      <img style="height: 50%;" class="img-spacetype" src="../../../../assets/imgs/user.png" />
    
    <ion-card-header>
      <ion-card-subtitle>{{ item.firstName + ' ' + item.lastName }}</ion-card-subtitle>
      <ion-card-title style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small;">
        <ion-icon (click)="confirmDelete(item)" *ngIf="item.active === true" name="close-circle-outline" size="large"></ion-icon>
        <ion-icon (click)="confirmDelete(item)" *ngIf="item.active !== true" name="checkmark-circle-outline" size="large"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="no-padding">
    </ion-card-content>

   
  </ion-card>
</ion-grid>

  </ion-item>
</ng-container>

  <ng-template #noFilteredUsers>

  <ion-item class="card-item" *ngFor="let item of allUsers">

        <ion-grid class="card-grid">
      <ion-card class="card_features ion-no-padding">    
        <img style="height: 50%;" class="img-spacetype" src="../../../../assets/imgs/user.png" />
      
      <ion-card-header>
        <ion-card-subtitle>{{ item.firstName + ' ' + item.lastName }}</ion-card-subtitle>
        <ion-card-title style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small;">
          <ion-icon (click)="confirmDelete(item)" *ngIf="item.active === true" name="close-circle-outline" size="large"></ion-icon>
          <ion-icon (click)="confirmDelete(item)" *ngIf="item.active !== true" name="checkmark-circle-outline" size="large"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="no-padding">
      </ion-card-content>

     
    </ion-card>
</ion-grid>
</ion-item>
</ng-template>
</ion-list>

  

</div>

<ng-template #noSpacesTemplate>

  <img class="img-spacetype-unit" src="../../../../assets/imgs/emptyList.png" />
  <div class="no-item-unit">
    <ion-button (click)="bookSpace()">{{ userDetails?.role === 'HOST' ? 'No Space added yet' : 'No bookings yet' }}</ion-button>
  </div>
</ng-template>
</ion-content>
