<ion-header style="background-color: red;">
  <ion-toolbar style="background-color: red;">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="title-and-logo">
      <div class="logo" style="display: flex;">
        <img src="../../../../assets/imgs/unit-logo.png" alt="Logo" style="width: 50px; height: auto;" />
        <div #svgContainer style="width: 100px; height: 30px; margin-top: 10px;"></div>    

      </div>
      <ion-title>
        <div class="title-content" style="display: flex; margin-top: 20px;">
        <b style="height: 50px; color: #212121;">{{ firstName }}   </b>
        </div>       
      </ion-title>

        <!-- Welcome, {{ svgText }} {{ firstName }}</ion-title> -->
    </div>


    <!-- <ion-title color="primary" class="left-title">Welcome, {{ firstName }}</ion-title> -->
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" *ngIf="role === 'TENANT'">


  <!-- <div #svgContainer></div> -->

  <div class="desktop-container" style="display: flex;">
  <!-- <ion-grid class="ion-no-padding pad-lr">
    <ion-row class="ion-no-padding">
      <ion-col size-sm="10" offset-sm="3" class="ion-no-padding" [size]="10"> -->

        <ion-searchbar style="height: 66px; margin-top: 10px;" color="black" [(ngModel)]="autocomplete.input" #searchbar placeholder="Search for Location" searchIcon=" "
          (ionInput)="searchLocation()" clearIcon=" " (ionFocus)="checkFocus()" (ionClear)="clearAutocomplete()">
          <img src="../../../../assets/imgs/feather-search.png" />
        </ion-searchbar>



      <!-- </ion-col> -->
      <!-- <ion-col [size]="2" class="noti"> -->
        <ion-icon color="unit-btn" *ngIf="hasFilter" name="funnel" (click)="clearFilters()"
          style="margin-right: 14px; margin-top: 30px;"> </ion-icon>
          <ion-icon name="funnel" *ngIf="!hasFilter"
          (click)="openFilter()" style="margin-right: 14px; margin-top: 30px;"> </ion-icon>
      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->
</div>
  <div [hidden]="autocompleteItems.length == 0" class="search_list">
    <!-- <ion-list lines="none">
      <ion-item>
        <ion-label (click)="getExactLocation(item)">
          <img  class="image-loc" style="margin-inline-end: 0px !important;" slot="start"
            src="../../../../assets/imgs/material-location-on.png" />
          <p class="main_text">Current Location</p>
        </ion-label>
      </ion-item>
    </ion-list> -->
    <ion-list [hidden]="autocompleteItems.length == 0" lines="none">

      <!-- <ion-label (click)="getExactLocation(item)">
        <img  class="image-loc" style="margin-inline-end: 0px !important;" slot="start"
          src="../../../../assets/imgs/material-location-on.png" />
        <b class="main_text">Current Location</b>
      </ion-label> -->

      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        <ion-label>
          <img  class="image-loc" style="margin-inline-end: 0px !important;" slot="start"
          src="../../../../assets/imgs/material-location-on.png" />
          {{ item.description }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3 class="top-heading">Places Around You</h3>        
        </ion-col>
      </ion-row>

      <div [hidden]="!searchResults" class="search_list">
        <ion-icon name="search"></ion-icon> {{ searchResults }}
        </div>
    
    </ion-grid>

    <div *ngIf="!hasFilter">
      <app-unit-listing [units]="placesAround" (unitClicked)='place($event)'></app-unit-listing>
    </div>

    <div *ngIf="hasFilter">
      <app-unit-listing [units]="placesFiltered" (unitClicked)='place($event)'></app-unit-listing>
    </div>
  </div>
  <div>
  </div>
</ion-content>







<ion-content [fullscreen]="true" *ngIf="role === 'HOST'">


    <swiper-container [slidesPerView]="1.2" [spaceBetween]="8" [initialSlide]="0">
      <swiper-slide>


  <ion-card class="account-balance">
    <ion-card-header>
      Account Balance
    </ion-card-header>
    <ion-card-content>
      <ion-label *ngIf="showBalance" class="balance-label">{{ balance | currency: 'USD':'symbol':'1.2-2' }}</ion-label> <br>
      <ion-icon (click)="toggleBalanceVisibility()" [name]="showBalance ? 'eye' : 'eye-off'"></ion-icon> 
      <ion-label>
        <!-- {{ showBalance ? 'Hide Account Balance' : 'View Account Balance' }} -->
        <a routerLink="/cashout"><b style="font-size: 13px; margin-left: 30px;">Withdraw</b></a>
      </ion-label>    
    </ion-card-content>
  </ion-card>

  </swiper-slide>


  <swiper-slide>
  <ion-card class="withdraw-balance">
    <ion-card-header>
      Amount Withdrawn
    </ion-card-header>
    <ion-card-content>
      <ion-label *ngIf="showBalance" class="balance-label">{{ withdrawnBalance | currency: 'USD':'symbol':'1.2-2' }}</ion-label> <br>
      <ion-icon (click)="toggleBalanceVisibility()" [name]="showBalance ? 'eye' : 'eye-off'"></ion-icon> 
      <ion-label>
        {{ showBalance ? 'Hide Account Balance' : 'View Account Balance' }}
      </ion-label>    

    </ion-card-content>
  </ion-card>

    </swiper-slide>
  </swiper-container>

  <!-- <ion-grid class="ion-no-padding pad-lr">
    <ion-row class="ion-no-padding">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding" [size]="10">
        <ion-searchbar color="black" [(ngModel)]="autocomplete.input" #searchbar placeholder="Search for Location" searchIcon=" "
          (ionInput)="searchLocation()" clearIcon=" " (ionFocus)="checkFocus()" (ionClear)="clearAutocomplete()">
          <img src="../../../../assets/imgs/feather-search.png" />
        </ion-searchbar>
      </ion-col>
      <ion-col [size]="2" class="noti">
        <ion-icon *ngIf="!hasFilter" name="funnel" (click)="openFilter()"
          style="margin-right: 14px; margin-top: 14px;"> </ion-icon>
        <ion-icon *ngIf="hasFilter" color="unit-btn" name="funnel"
          (click)="openFilter()" style="margin-right: 14px; margin-top: 14px;"> </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="desktop-container" style="display: flex;">
          <ion-searchbar style="height: 66px; margin-top: 10px;" color="black" [(ngModel)]="autocomplete.input" #searchbar placeholder="Search for Location" searchIcon=" "
            (ionInput)="searchLocation()" clearIcon=" " (ionFocus)="checkFocus()" (ionClear)="clearAutocomplete()">
            <img src="../../../../assets/imgs/feather-search.png" />
          </ion-searchbar> 
          <ion-icon color="unit-btn" *ngIf="hasFilter" name="funnel" (click)="clearFilters()"
            style="margin-right: 14px; margin-top: 30px;"> </ion-icon>
            <ion-icon name="funnel" *ngIf="!hasFilter"
            (click)="openFilter()" style="margin-right: 14px; margin-top: 30px;"> </ion-icon>
  </div>
  


  <div [hidden]="autocompleteItems.length == 0" class="search_list">
    <ion-list [hidden]="autocompleteItems.length == 0" lines="none">

      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        <ion-label>
          <p class="secondary_text"> {{ item.description }} </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="content">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3 class="top-heading">Spaces Created</h3>        
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>

  <app-shared-host-space [spaces]="spaces" (clearAll)="clearFilters()" (unitClicked)='space($event)'></app-shared-host-space>

</div>
  </div>
  <div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addClicked()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>




<ion-content [fullscreen]="true" *ngIf="role === 'ADMIN'">



  <div class="desktop-container" style="display: flex;">

        <ion-searchbar style="height: 66px; margin-top: 10px;" color="black" [(ngModel)]="autocomplete.input" #searchbar placeholder="Search for Location" searchIcon=" "
          (ionInput)="searchLocation()" clearIcon=" " (ionFocus)="checkFocus()" (ionClear)="clearAutocomplete()">
          <img src="../../../../assets/imgs/feather-search.png" />
        </ion-searchbar>

        <ion-icon color="unit-btn" *ngIf="hasFilter" name="funnel" (click)="clearFilters()"
          style="margin-right: 14px; margin-top: 30px;"> </ion-icon>
          <ion-icon name="funnel" *ngIf="!hasFilter"
          (click)="openFilter()" style="margin-right: 14px; margin-top: 30px;"> </ion-icon>
</div>
  <div [hidden]="autocompleteItems.length == 0" class="search_list">
    <ion-list [hidden]="autocompleteItems.length == 0" lines="none">

      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        <ion-label>
          <img  class="image-loc" style="margin-inline-end: 0px !important;" slot="start"
          src="../../../../assets/imgs/material-location-on.png" />
          {{ item.description }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3 class="top-heading">All Spaces On The App</h3>        
        </ion-col>
      </ion-row>

      <div [hidden]="!searchResults" class="search_list">
        <ion-icon name="search"></ion-icon> {{ searchResults }}
        </div>
    
    </ion-grid>

    <div *ngIf="!hasFilter">
      <app-unit-listing [units]="placesAround" (unitClicked)='place($event)'></app-unit-listing>
    </div>

    <div *ngIf="hasFilter">
      <app-unit-listing [units]="placesFiltered" (unitClicked)='place($event)'></app-unit-listing>
    </div>
  </div>
  <div>
  </div>
</ion-content>


