<ion-header>
    <ion-toolbar>
        <div class="title-and-logo">           
            <div class="logo">
              <img src="../../../../assets/imgs/unit-logo.png" alt="Logo" style="width: 50px; height: auto;" />
            </div>
            <ion-title>Profile</ion-title>
          </div>
              
      <ion-buttons slot="end">
        <ion-button (click)="toggleDarkMode()">
          <ion-icon [name]="darkMode ? 'sunny' : 'moon'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen [ngClass]="{'dark-theme': darkMode}">
    <ion-list>
      <ion-item lines="full">
        <ion-label>Referrals</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>View Privacy policy</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Consult a legal pro</ion-label>
      </ion-item>
  
      <!-- <ion-item lines="full">
        <ion-label *ngIf="role !== null && role === 'HOST'">Switch to Tenant</ion-label>
        <ion-label *ngIf="role !== null && role === 'TENANT'">Switch to Host</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-toggle [(ngModel)]="role" (ionChange)="toggleRole()"></ion-toggle>
      </ion-item>   -->

      <ion-item lines="full">
        <ion-toggle *ngIf="userDetails?.role !== null && userDetails?.role == 'HOST'" [(ngModel)]="hostToggle" (ionChange)="toggleRole('HOST')">Switch to Dancer</ion-toggle>
        <ion-toggle *ngIf="userDetails?.role !== null && userDetails?.role == 'TENANT'" [(ngModel)]="tenantToggle" (ionChange)="toggleRole('TENANT')">Switch to Host</ion-toggle><br /><br />
    </ion-item>


      </ion-list>
 
    </ion-content>