<ion-header>
  <ion-toolbar>

    <div class="title-and-logo">
      <div class="logo">
        <img src="../../../../assets/imgs/unit-logo.png" alt="Logo" style="width: 50px; height: auto;" />
      </div>
      <ion-title>More Details</ion-title>

    </div>



    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>


    <!-- <ion-item *ngIf="place.visitDays">
      <ion-label>Available day for visit: <span style="color: red;"> {{ place.visitDays}} </span></ion-label>
    </ion-item> -->

    <ion-item *ngIf="place.additionalDetails">
      <ion-label>Video URL: 
      </ion-label>
      <a *ngIf="!isEditing" target="_blank" href="{{ place.additionalDetails }}">{{ place.additionalDetails }}</a>
      <ion-input *ngIf="isEditing" [(ngModel)]="editedAdditionalDetails" class="custom-input"></ion-input>

      <ion-icon *ngIf="role === 'HOST'" name="{{ isEditing ? 'checkmark' : 'create' }}" slot="end" (click)="toggleEdit()"></ion-icon>
    </ion-item>

    <ion-item *ngIf="place.visitDays">
      <ion-label>Available day for visit: 
        <span style="color: red;">
          {{ place.visitDays.join(', ') }}
        </span>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="place.visitStartTime && place.visitEndTime">
      <ion-label>Visit time range: {{ place.visitStartTime }} and {{ place.visitEndTime }}</ion-label>
    </ion-item>

    <ion-item *ngIf="place.description">
      <ion-label>Size(Feet): {{ place.description }}</ion-label>
    </ion-item>

    <!-- <ion-item *ngIf="place.additionalDetails">
      <ion-label>Video URL: <a target="_blank" href="{{ place.additionalDetails }}">{{ place.additionalDetails }}</a></ion-label>
    </ion-item>  -->

    


   


    <ion-item *ngIf="place.practice">
      <ion-label>Practice with tenant: {{ place.practice }}</ion-label>
    </ion-item>

    <ion-item *ngIf="place.musicDetails">
      <ion-label>Music Availability: {{ place.musicDetails }} </ion-label>
    </ion-item>
  </ion-list>

    <!-- <ion-button fill="solid" expand="full">
      <ion-icon slot="start" name="paper-plane"></ion-icon>
      Send Email
    </ion-button> -->

</ion-content>