.title-and-logo {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: red;
    font-weight: 600;

  }


  // .custom-input {
  //   width: calc(100% - 30px); /* Adjust the width as needed */
  // }

  ion-item {
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  
  ion-label {
    flex: 1; /* Allows the label to take up available space */
    margin-right: 8px; /* Space between label and input */
  }
  
  .custom-input {
    flex: 2; /* Adjust as needed for input width */
  }
  
  a {
    margin-left: 8px; /* Space between the label and link */
  }