  .content {
    background-color: "secondary";
    height: 100%;
    border-radius: 25px;
    padding-top: 60px;    
  }
  
  .logo{
    margin: auto;
    width: 25%;
    margin-top: 10%;
  }
  
  .img-card{
    max-width: 200px;
    margin: 0 auto 30px;
    text-align: center;
  }
  
  .text-sucess{
    border-style: solid;
    border-color: green;
  }