  .content {
    background-color: "secondary";
    height: 100%;
    border-radius: 25px;
    padding-top: 60px;    
  }

  .blue-back-button {
    --color: white;
    --border-radius: 50%;
    --padding: 0.5rem;
  }


  .heading {
    color: #ed1c24 !important;
    margin-top: 15px !important;
    align-items: center;
  }

  .title-and-logo {
    // display: flex;
    // align-items: center;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ed1c24;
    color: white;
    font-weight: 600;

  }
  
  .logo img {
    width: 32px;
    height: 32px; 
    // margin-left: 8px; 
    margin: 0 5px 0 35px;

  }
  
  // .logo{
  //   margin: auto;
  //   width: 25%;
  //   margin-top: 10%;
  // }
  
  .img-card{
    max-width: 200px;
    margin: 0 auto 30px;
    text-align: center;
  }
  
  .text-sucess{
    border-style: solid;
    border-color: green;
  }


  .div-content {
    margin-top: 100px !important;
    align-items: center;
    text-align: center;
  }