<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Filters</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" text="">
        <ion-icon name="close-outline" color="unit-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div [hidden]="!searchResults" class="search_list">
    <ion-icon name="search"></ion-icon>
    <span [ngClass]="{'no-location': searchResults?.startsWith('No Location')}">
      {{ searchResults }}
    </span>
      </div>

</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header> 
      <h4>Area/City</h4>
    </ion-list-header>
    <ion-searchbar [(ngModel)]="autocomplete.input"  #searchbar placeholder="Search for City/Area" searchIcon=" "
    (ionInput)="searchLocation()" clearIcon=" " (ionFocus)="checkFocus()" (ionClear)="clearAutocomplete()"
    >
    <img src="../../../../assets/imgs/feather-search.png" />
    </ion-searchbar>
  </ion-list>
  <div [hidden]="autocompleteItems.length == 0" class="search_list">
    <ion-list (click)="useCurrentLocation()" lines="none">
      <ion-item>
        <ion-label>
          <img  class="image-loc" style="margin-inline-end: 0px !important;" slot="start"
            src="../../../../assets/imgs/material-location-on.png" />
          <p class="main_text">Current Location</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list [hidden]="autocompleteItems.length == 0" lines="none">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        <ion-label>
          <p class="secondary_text"> {{ item.description }} </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>



  <!-- <ion-list mode="md"> -->
    <ion-item mode="md">
      <ion-label position="floating" style="margin-bottom: 20px;">Preferred space type</ion-label>
      <ion-select [(ngModel)]="spaceFloor">
        <!-- <ion-select-option value="" selected disabled>Select Space Type</ion-select-option> -->
        <ion-select-option value="Linoleum">Linoleum / Dance Floor</ion-select-option>
        <ion-select-option value="Mats">Mats</ion-select-option>
        <ion-select-option value="Trampoline">Trampoline</ion-select-option>
        <ion-select-option value="Grass">Grass</ion-select-option>
        <ion-select-option value="Concrete">Concrete</ion-select-option>

      </ion-select>
    </ion-item>
  <!-- </ion-list> -->


  <ion-item>
    <ion-label>Price Range(Per hour)</ion-label>

  <ion-range aria-label="Dual Knobs Range" [dualKnobs]="true" [pin]="true" [value]="{ lower: 20, upper: 80 }" (ionChange)="updatePriceRange($event)"></ion-range>

</ion-item>

<ion-grid>
  <ion-row class="ion-align-items-start">
    <ion-col>
      <ion-button color="primary" (click)="applyFilters()" class="btn">Apply</ion-button>
    </ion-col>
    <!-- <ion-col class="ion-align-self-end" style="left: 25%;">
      <ion-button color="danger" (click)="clearFilters()" class="btn">Clear</ion-button>
    </ion-col> -->
  </ion-row>
</ion-grid>


</ion-content>

