<ion-content fullscreen class="ion-padding">
  <div class="logo">
    <img src="../../../../assets/imgs/unit-logo.png" />
  </div>
  <div class="content">
    <form [formGroup]="signupForm">
      <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <ion-input type="text" placeholder="First Name" formControlName="firstName"></ion-input>
        </ion-item>
        <div class="error-container" *ngIf="signupForm.get('firstName')?.touched && signupForm.get('firstName')?.invalid">
          <span style="color: red; font-size: smaller; margin: 5px;">
            <ion-icon name="information-circle-outline"></ion-icon> First Name is required
          </span>
        </div>
      </ion-list>
 <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <ion-input type="text" placeholder="Last Name" formControlName="lastName"></ion-input>
        </ion-item>
        <div class="error-container" *ngIf="signupForm.get('lastName')?.touched && signupForm.get('lastName')?.invalid">
          <span style="color: red; font-size: smaller; margin: 5px;">
            <ion-icon name="information-circle-outline"></ion-icon> Last Name is required
          </span>
        </div>
      </ion-list>
        <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <div class="error-container" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
          <span style="color: red; font-size: smaller; margin: 5px;" *ngIf="signupForm.get('email')?.errors?.['required']">
            <ion-icon name="information-circle-outline"></ion-icon> Email is required
          </span>
          <span style="color: red; font-size: smaller; margin: 5px;" *ngIf="signupForm.get('email')?.errors?.['email']">
            <ion-icon name="information-circle-outline"></ion-icon> Please enter a valid email
          </span>
        </div>
      </ion-list>

      <!-- <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <ion-input placeholder="Referral Code" type="text" formControlName="referralCode"></ion-input>
        </ion-item>
      </ion-list> -->

       <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <ion-input type="text" placeholder="Referral Code" formControlName="referralCode"></ion-input>
        </ion-item>
        <div class="error-container" *ngIf="signupForm.get('referralCode')?.touched && signupForm.get('referralCode')?.invalid">
          <span style="color: red; font-size: smaller; margin: 5px;">
            <ion-icon name="information-circle-outline"></ion-icon> Referral Code is required
          </span>
        </div>
      </ion-list>



      <ion-list class="line-input" mode="md">
        <ion-label style="margin-left: 17px;" mode="md">Upload Profile Picture</ion-label>
        <ion-item mode="md" style="display: flex;" (click)="triggerFileInput()">
          
          <ion-avatar slot="start">
            <ion-img [src]="profilePictureUrl"></ion-img>
          </ion-avatar>
          <!-- <ion-button (click)="triggerFileInput()" fill="clear" size="small" color="primary"> -->
            <ion-icon (click)="triggerFileInput()" slot="end" name="camera"></ion-icon>
            <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" />
          <!-- </ion-button> -->
        </ion-item>
      </ion-list>

     <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <div class="error-container" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
          <span style="color: red; font-size: smaller; margin: 5px;">
            <ion-icon name="information-circle-outline"></ion-icon> Password is required
          </span>
        </div>
      </ion-list>

      <ion-button class="button-h" fill="solid" size="default" expand="block" color="custom" style="--ion-color-base: #e40e40; margin-top: 10% !important; --border-radius: 4px;"
      (click)="createUser()">
       Sign Up
      </ion-button>


      <!-- <ion-button style="margin-top: 10% !important;" fill="solid" size="default" shape="round" expand="block"
        [disabled]="!signupForm.valid" (click)="createUser()">
        Sign up
      </ion-button> -->
      <p>
        Already have an account? <br>
        <a routerLink="/login" class="login-text"> Login </a>
      </p>
    </form>
  </div>
</ion-content>